.search-bar {
    margin : 20px;
    text-align : center;
}
.search-bar input {
    width : 80%;
}

.video-list img {
    max-width: 128px;
}
.video-detail .details {
    margin-top : 20px;
    padding : 10px;
    border : 2px solid #aaa
}

.list-group-item {
    cursor : pointer;
}

.list-group-item:hover {
    background-color: #3fb;
}